/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

#project-background {
    background-image: url(../../images/projects.jpg);
    background-size: cover;
    background-attachment: local;
    width: 100%;
    padding-bottom: 20px;
}

#project-title {
    font-size: 100px;
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
}

.wip {
    position: absolute;
    top: -40px;
    right: -40px;
    width: 80px;
    height: 80px;
}

.scroll-animations .project {
    opacity: 0;
}

.center {
    position: relative;
    width: 80%;
    margin: 0px auto;
}

/******************************** Left Scroll Animation ********************************/

.animateLeft {
    -webkit-animation-name: animateLeft;
    animation-name: animateLeft;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

@-webkit-keyframes animateLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-200%, 0, 0);
        transform: translate3d(-200%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes animateLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-200%, 0, 0);
        transform: translate3d(-200%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

/******************************** Right Scroll Animation ********************************/

.animateRight {
    -webkit-animation-name: animateRight;
    animation-name: animateRight;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

@-webkit-keyframes animateRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(200%, 0, 0);
        transform: translate3d(200%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes animateRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(200%, 0, 0);
        transform: translate3d(200%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

/******************************** Project Image CSS ********************************/

.image-container {
    position: relative;
    -webkit-box-flex: 50%;
    -ms-flex: 50%;
    flex: 50%;
}

.image-container:hover .tech-used {
    opacity: 1;
}

.image-container:hover .image {
    opacity: 0.2;
}

.tech-used {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 75%;
    margin: 0;
    top: 50%;
    left: 50%;
    z-index: 100;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
}

.tech {
    background-color: grey;
    border: solid rgb(105, 105, 105) 2px;
    font-size: 20px;
    padding: 5px 10px;
    margin: 10px;
}

.image {
    position: relative;
    width: 100%;
    height: 340px;
}

.project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: rgb(53, 53, 53);
    line-height: 1.15;
    margin: 50px auto;
    width: 90%;
    height: 350px;
    border: 5px groove gray;
    position: relative;
}

/******************************** Project Text CSS ********************************/

.project-content {
    position: relative;
    -webkit-box-flex: 50%;
    -ms-flex: 50%;
    flex: 50%;
}

.project-content>h5 {
    margin: 15px 0px;
    text-align: center;
    font-size: 50px;
    font-weight: 100;
}

.description {
    width: 85%;
    margin: 10px auto;
    font-size: 25px;
}

/******************************** Project Links CSS ********************************/

.projectLink, .right {
    position: absolute;
    bottom: 10px;
    display: inline-block;
    text-align: center;
    width: 40%;
    margin: 0 5%;
    text-decoration: none;
    background-color: #24292E;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 15px;
    font-size: 20px;
}

.right {
    right: 0;
}

.projectLink:hover {
    background-color: #464f59;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

.projectLink:active {
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px);
}

/******************************** Media Query CSS ********************************/

@media screen and (max-width: 1200px) {
    #project-title {
        font-size: 75px;
    }
    .project-content>h5 {
        margin: 10px 0px;
        font-size: 44px;
    }
    .description {
        font-size: 22px;
    }
    .tech-used {
        width: 90%;
    }
}

@media screen and (max-width: 800px) {
    .project-content>h5 {
        font-size: 40px;
    }
    .description {
        font-size: 20px;
    }
    .center {
        width: 90%;
    }
}

@media screen and (max-width: 650px) {
    #project-title {
        font-size: 60px;
    }
    .wip {
        top: -185px;
        right: -25px;
        width: 50px;
        height: 50px;
    }
    #project-background {
        background-size: 150vw 100vh;
    }
    .project {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .image-container {
        -webkit-box-flex: 80%;
        -ms-flex: 80%;
        flex: 80%;
    }
    .project-content {
        -webkit-box-flex: 120%;
        -ms-flex: 120%;
        flex: 120%;
    }
    .project-content>h5 {
        margin: 5px 0px;
        font-size: 30px;
    }
    .image {
        height: 150px;
    }
    .description {
        font-size: 16px;
        margin: 5px auto;
    }
    .project {
        width: 100%;
    }
    .projectLink, .right {
        bottom: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 16px;
    }
    .tech {
        margin: 5px;
        font-size: 16px;
    }
}