#techSkills {
    width: 80%;
    margin: 0 auto;
}

.skill {
    display: inline-block;
    width: 20%;
    text-align: center;
    margin-bottom: 15px;
}

.logo {
    display: block;
    width: 50%;
    height: 150px;
    margin: 0 auto;
}


.scroll-animations div {
    opacity: 0;
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
            animation-name: fadeInLeft;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
}

@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-200%, 0, 0);
                transform: translate3d(-200%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-200%, 0, 0);
                transform: translate3d(-200%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
}


@media screen and (max-width: 1350px) {
    .logo {
        width: 75%;
        height: 125px;
    }
}

@media screen and (max-width: 650px) {
    .logo {
        height: 100px;
    }

    .skill {
        width: 33%;
    }

    .skill:last-child {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}